/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

#primary-menu-trigger {
  left: -20px;
}

.faq-list li {
  margin: 5px 10px;
}

.togglec {
  text-align: justify;
}

#header.full-header #primary-menu > ul {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}

.RGraph_tooltip {
  font-size: 16pt !important;
  font-weight: bold;
  text-align: center;
}
